/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

@font-face {
    font-family: 'Miama';
    src: url(./font/Miama.otf);
}

@font-face {
    font-family: 'Inter';
    src: url(./font/Inter.ttf);
}

:root {
    --primary-white: rgb(255, 255, 255);
    --secondary-white: rgb(255, 255, 255, 0.5);
    --primary-black: rgb(0, 0, 0);
    --secondary-black: rgba(255, 255, 255, 0.12);
    --button-bg: rgb(230, 83, 60);
    --btn-hover-bg: rgba(231, 48, 20, 0.863);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: "Inter";
    background-color: black;
}


/* Shares And Component Style */
.orange-button {
    border: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 3rem;
    background-color: var(--button-bg);
    border-radius: 3rem;
    color: var(--primary-white);
}

.hide {
    display: none !important;
}



/* Header Section Start Here */
.header-section {
    border: 1px solid white;
    background: repeating-linear-gradient(var(--primary-black), var(--secondary-black), var(--secondary-black), var(--secondary-black), var(--primary-black));
    width: 100%;
}


/* Nav Section Start Here */
.nav-section {
    height: 8rem;
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section a {
    text-decoration: none;
}

.logo-section {
    cursor: pointer;
}

.logo-section .logo {
    color: var(--button-bg);
    font-size: 38px;
    font-weight: 800;
    transition: 0.2s;
}

.menu-section-lg {
    border: 1px solid #ffffff1a;
    border-radius: 2.5rem;
    width: 60%;
    max-width: 33.4rem;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 0rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.menu-item a {
    border: transparent;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
}

.menu-item:hover a {
    background-color: var(--button-bg);
}

.menu-section-md {
    display: none;
}

/* Nav Section End Here */


/* Hero Section Start Here */
.hero-section {
    width: calc(100% - 6rem);
    max-width: 90rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.5rem;
}

.hero-content {
    width: 100%;
    max-width: 39rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-title {
    font-size: 4.875rem;
    margin: 1rem auto;
    font-weight: 900;
    line-height: 120%;
}

.hero-text {
    font-size: 1rem;
    color: var(--secondary-white);
    margin: 1rem auto;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.miama {
    font-family: 'Miama';
    font-size: 8rem;
    font-weight: 400;
}

.hero-button {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.download-app {
    background-color: transparent;
    border: 1.5px solid var(--primary-white);
    cursor: pointer;
    transition: 0.3s;
}

.join-club:hover {
    background-color: var(--btn-hover-bg);
    cursor: pointer;
    transition: 0.3s;
}

.download-app:hover {
    color: var(--button-bg);
    transition: 0.3s;
}

.hero-image {
    position: relative;
    filter: contrast(120%);
}

/* Hero Section End Here */


/* Small Popup Card on Hero Section. */
.free-workout {
    background-color: var(--secondary-black);
    color: var(--primary-white);
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.1rem;
    position: absolute;
    top: 130px;
    right: -30px;
}

.free-workout h2,
.tutorial-text h2 {
    font-size: 1.8rem;
}

.free-workout p,
.tutorial-text p {
    font-size: .9rem;
    color: var(--secondary-white);
}

.video-tutorial {
    background-color: var(--secondary-black);
    color: var(--primary-white);
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    display: flex;
    align-items: start;
    gap: 0.8rem;
    position: absolute;
    bottom: 50px;
    left: -80px;
}

.circle {
    height: 2.7rem;
    width: 2.7rem;
    background-color: var(--button-bg);
    border-radius: 50%;
}

.tutorial-text {
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.1rem;
}

/* Header Section End Here */



/* Change Your Habits Section Start Hear */
.habits-section {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.habit-section-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.habit-title {
    font-size: 3rem;
    text-align: center;
}

.habit-text {
    max-width: 35rem;
    font-size: 1rem;
    color: var(--secondary-white);
    text-align: center;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.habit-section-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 4rem;
}

.habit-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.habit-image {
    width: 12rem;
    height: 12rem;
}

.habit-image>img {
    width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.habit-details {
    text-align: center;
}

.habit-details p {
    font-size: 1rem;
    color: var(--secondary-white);
    text-align: center;
    line-height: 1.2rem;
    letter-spacing: 0.5px;
}

/* Change Your Habits Section End Hear */



/* Run Section Start Hear */
.run-section {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 4rem auto;
    background-color: var(--secondary-black);
    border-radius: 3rem;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.run-content {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.run-title {
    font-size: 3rem;
}

.run-details {
    max-width: 80%;
    font-size: 1rem;
    color: var(--secondary-white);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.join-now {
    font-size: 1.2rem;
    padding: 1.2rem 5rem;
}

.run-image {
    width: 40%;
    min-height: 26rem;
    background-image: url(./images/run.jpg);
    background-size: 250%;
    background-position: -460px -100px;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

/* Run Section End Hear */



/* BMI Section Start Hear */
.bmi-section {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.bmi-header {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 5% 0 15%;
}

.bmi-title {
    font-size: 3rem;
}

.bmi-text {
    max-width: 80%;
    font-size: 1rem;
    color: var(--secondary-white);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.bmi-body-bg {
    background-color: var(--secondary-black);
    width: 100%;
    padding: 3rem 0rem;
    margin-top: 2rem;
}

.bmi-body-content {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.bmi-chart {
    min-width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.chart-header {
    font-size: 1.8rem;
    font-weight: 600;
}

.bmi-table,
th,
td {
    border: 1px solid var(--secondary-black);
    border-collapse: collapse;
}

.bmi-table th,
td {
    padding: 0.8rem 1.5rem;
    text-align: left;
    font-size: 1.2rem;
}

.bmi-table td {
    color: var(--secondary-white);
}

.bmi-calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.7rem;
}

.calculator-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.calculator-text {
    font-size: 1rem;
    color: var(--secondary-white);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.bmi-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.form-common {
    border: transparent;
    max-width: 100%;
    border-radius: 5px;
    padding: 12px 0 12px 12px;
    font-size: 1rem;
    color: var(--secondary-white);
    background-color: var(--secondary-black);
}

/* input[type="text"]{}
#height{}
#weight{}
#age{}
select[name="Sex"]{}
#sex option{}
option[value="Sex"]{}
option[value="Male"]{}
option[value="Female"]{} */

select[name="Activity"] {
    grid-column: 1/3;
}

/* #activity option{}
option[value="factor"]{}
.calculate{} */
.calculate-button {
    padding-left: 5rem;
    padding-right: 5rem;
}

/* BMI Section End Hear */



/* Trainer Section Start Here */
.trainer-section {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 4rem auto;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.trainer-header {
    max-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.trainer-title {
    margin: 1rem auto;
    font-size: 3rem;
}

.trainer-text {
    max-width: 85%;
    font-size: 1rem;
    color: var(--secondary-white);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.trainer-photo-feme {
    background-color: var(--secondary-black);
    width: 100%;
    padding: 1.6rem;
    border-radius: 1.2rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.trainer-photo {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    background-size: cover;
    background-position: center;
}

.trainer-photo h2 {
    font-size: 1.6rem;
}

.trainer-photo p {
    font-size: 1rem;
    color: var(--secondary-white);
}

.trainer-1 {
    background-image: url(./images/trainer1.png);

}

.trainer-2 {
    background-image: url(./images/trainer2.png);
}

.trainer-3 {
    background-image: url(./images/trainer3.png);
}

.trainer-4 {
    background-image: url(./images/trainer4.png);
}

.trainer-5 {
    background-image: url(./images/trainer5.png);
}

.trainer-6 {
    background-image: url(./images/trainer6.png);
}

/* Trainer Section End Here */



/* Footer Section Start Here */
.main-footer {
    width: 100%;
    background-color: var(--secondary-black);
    padding-top: 4rem;
    margin-top: 3rem;
}

.footer-section {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
}

.common-footer {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

.fitness-title {
    color: var(--button-bg);
    font-size: 40px;
    font-weight: 800;
}

.fitness-text {
    max-width: 90%;
    color: var(--secondary-white);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.3rem;
    letter-spacing: 0.4px;
}

section .common-service {
    align-items: end;
}

.common-service li {
    list-style: none;
}

.common-service li a {
    text-decoration: none;
    color: var(--secondary-white);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2.6rem;
    letter-spacing: 0.4px;
    cursor: pointer;
}

.service-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.footer-bottom {
    grid-column: 1/4;
    text-align: center;
}

.bottom-text {
    text-align: center;
    margin: 2rem auto;
    color: var(--secondary-white);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

/* Footer Section End Here */



/* Media Queries For Medium Device */
@media screen and (990px > width > 575px) {

    /* Navbar Responsive */
    .menu-section-lg {
        display: none;
    }

    .menu-section-md {
        width: 10%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    /* Hero Section Responsive */
    .hero-section {
        flex-direction: column;
        gap: 3.5rem;
    }

    .free-workout {
        top: 50px;
        right: -25px;
    }

    .video-tutorial {
        bottom: 145px;
        left: -30px;
    }

    /* Habit Section Responsive */
    .habit-section-content {
        row-gap: 4rem;
        column-gap: 2rem;
        flex-wrap: wrap;
    }

    .habit-content {
        width: 13.5rem;
    }

    .habit-details p {
        margin-top: 0.8rem;
    }

    /* Run Section Responsive */
    .run-section {
        width: calc(100% - 2rem);
        margin: 3rem auto;
        border-radius: 2rem;
        padding: 2rem;
    }

    .run-content {
        gap: 1.4rem;
    }

    .run-title {
        font-size: 2.2rem;
    }

    .run-details {
        line-height: 1.4rem;
    }

    .join-now {
        font-size: 1rem;
        padding: 1rem 2.2rem;
    }

    .run-image {
        min-height: 26rem;
        background-size: cover;
        background-position: -250px 0px;
    }

    /* Trainer Section Responsive */
    .trainer-section {
        width: calc(100% - 2rem);
    }

    .trainer-header {
        max-width: 100%;
    }

    .trainer-text {
        max-width: 90%;
    }

    .trainer-photo-feme {
        padding: 1.2rem;
        gap: 1rem;
    }

    .trainer-photo {
        height: 18rem;
    }

    /* BMI Section Responsive */
    .bmi-header {
        padding: 0;
    }

    .bmi-body-content {
        flex-direction: column;
        align-items: stretch;
    }
}


/* Media Queries For Small Device */
@media screen and (max-width: 575px) {

    /* Navbar Responsive */
    .menu-section-lg {
        display: none;
    }

    .menu-section-md {
        width: 10%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    /* Hero Section Responsive */
    .hero-section {
        flex-direction: column;
        gap: 2.5rem;
    }

    .hero-content {
        max-width: 25rem;
    }

    .hero-title {
        font-size: 3.8rem;
    }

    .miama {
        font-size: 6rem;
    }

    .orange-button {
        font-size: 16px;
        padding: 15px 25px;
    }

    /* Habit Section Responsive */
    .free-workout {
        top: 50px;
        right: -25px;
    }

    .video-tutorial {
        bottom: 145px;
        left: -30px;
    }

    .habit-title {
        font-size: 2rem;
    }

    .habit-text {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }

    .habit-section-content {
        flex-direction: column;
    }

    .habit-content {
        width: 18rem;
        max-width: 100%;
    }

    .habit-details p {
        margin-top: 0.6rem;
        line-height: 1.3rem;
    }

    /* Run Section Responsive */
    .run-section {
        width: calc(100% - 1rem);
        margin: 2rem auto;
        border-radius: 2rem;
        padding: 1.2rem;
        flex-direction: column;
        gap: 2rem;
    }

    .run-content {
        max-width: 100%;
        gap: 1.6rem;
    }

    .run-title {
        font-size: 2rem;
    }

    .run-details {
        max-width: 100%;
    }

    .run-button {
        width: 100%;
    }

    .join-now {
        font-size: 1rem;
        width: 100%;
    }

    .run-image {
        width: 100%;
        min-height: 0rem;
        height: 16rem;
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
    }

    /* Trainer Section Responsive */
    .trainer-header {
        max-width: 100%;
    }

    .trainer-title {
        margin: 1rem auto;
        font-size: 2rem;
    }

    .trainer-text {
        max-width: 90%;
    }

    .trainer-photo-feme {
        padding: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    /* BMI Section Responsive */
    .bmi-header {
        width: 100%;
        padding: 0 5px;
    }

    .bmi-body-content {
        flex-direction: column;
    }

    .form-common {
        width: 100%;
    }

    select[name="Activity"] {
        max-width: 100%;
    }
}

/* Responsive For Very Old & Small Device */
@media screen and (max-width: 415px) {

    /* Width: Upto 360px  */
    .hero-button {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .dumbbell-workout {
        width: 285px;
    }

    .free-workout {
        top: 120px;
        right: -30px;
    }

    .video-tutorial {
        bottom: 50px;
    }
}