/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

@font-face {
    font-family: 'Miama';
    src: url(./font/Miama.otf);
}

@font-face {
    font-family: 'Inter';
    src: url(./font/Inter.ttf);
}

:root {
    --primary-white: rgb(255, 255, 255);
    --secondary-white: rgb(255, 255, 255, 0.5);
    --primary-black: rgb(0, 0, 0);
    --secondary-black: rgba(255, 255, 255, 0.12);
    --button-bg: rgb(230, 83, 60);
    --btn-hover-bg: rgba(231, 48, 20, 0.863);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: "Inter";
    background-color: black;
}


/* SHeres And Component Style */
.orange-button {
    border: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 3rem;
    background-color: var(--button-bg);
    border-radius: 3rem;
    color: var(--primary-white);
}



/* Header Section Start Here */
.header-section {
    background: repeating-linear-gradient(var(--primary-black), var(--secondary-black), var(--secondary-black), var(--secondary-black), var(--primary-black));
    width: 100%;
}

/* Nav Section Start Here */
.nav-section {
    height: 8rem;
    width: calc(100% - 4em);
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section a {
    text-decoration: none;
}

.logo-section {
    cursor: pointer;
}

.logo-section .logo {
    color: var(--button-bg);
    font-size: 38px;
    font-weight: 800;
    transition: 0.2s;
}

/* .logo:hover {
    color: var(--btn-hover-bg)
} */

.menu-section-lg {
    border: 1px solid #ffffff1a;
    border-radius: 2.5rem;
    width: 60%;
    max-width: 33.4rem;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 0rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.menu-item a {
    border: transparent;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
}

.menu-item:hover a {
    background-color: var(--button-bg);
}

.menu-section-md {
    display: none;
}

/* Nav Section End Here */


/* Header Section End Here */
.hero-section {
    width: calc(100% - 4em);
    max-width: 90rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.5rem;
}

.hero-content {
    width: 100%;
    max-width: 39rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.hero-title {
    font-size: 4.875rem;
    margin: 1rem auto;
    font-weight: 900;
    line-height: 120%;
}

.hero-text {
    color: var(--secondary-white);
    margin: 1rem auto;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.miama {
    font-family: 'Miama';
    font-size: 8rem;
    font-weight: 400;

}

.hero-button {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

/* .join-club:hover{} */
.download-app {
    background-color: transparent;
    border: 1.5px solid var(--primary-white);
    cursor: pointer;
    transition: 0.3s;
}

.join-club:hover {
    background-color: var(--btn-hover-bg);
    cursor: pointer;
    transition: 0.3s;
}

.download-app:hover {
    color: var(--button-bg);
    transition: 0.3s;
}

.hero-image {
    position: relative;
}

/* .dumbbell-workout {} */

.free-workout {
    background-color: var(--secondary-black);
    color: var(--primary-white);
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.1rem;
    position: absolute;
    top: 130px;
    right: -30px;
}

.free-workout h2,
.tutorial-text h2 {
    font-size: 1.8rem;
}

.free-workout p,
.tutorial-text p {
    font-size: .9rem;
    color: var(--secondary-white);
}

.video-tutorial {
    background-color: var(--secondary-black);
    color: var(--primary-white);
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    display: flex;
    align-items: start;
    gap: 0.8rem;
    position: absolute;
    bottom: 50px;
    left: -80px;
    /* display: none; */
}

.circle {
    height: 2.7rem;
    width: 2.7rem;
    background-color: var(--button-bg);
    border-radius: 50%;
}

.tutorial-text {
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.1rem;
}



/* Media Queries For Medium Device */
@media screen and (990px > width > 575px) {
    .menu-section-lg {
        display: none;
    }

    .menu-section-md {
        width: 10%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .hero-section {
        flex-direction: column;
        gap: 3.5rem;
    }
}


/* Media Queries For Small Device */
@media screen and (max-width: 575px) {
    .menu-section-lg {
        display: none;
    }

    .menu-section-md {
        width: 10%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .hero-section {
        flex-direction: column;
        gap: 2.5rem;
    }

    .hero-content {
        max-width: 25rem;
    }

    .hero-title {
        font-size: 3.8rem;
    }

    .miama {
        font-size: 6rem;
    }

    .orange-button {
        font-size: 16px;
        padding: 15px 25px;
    }
}

@media screen and (max-width: 415px) {
    .hero-button {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .dumbbell-workout {
        width: 285px;
    }

}