/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

@font-face {
    font-family: 'Miama';
    src: url(./font/Miama.otf);
}

@font-face {
    font-family: 'Inter';
    src: url(./font/Inter.ttf);
}

:root {
    --primary-white: rgb(255, 255, 255);
    --secondary-white: rgb(255, 255, 255, 0.5);
    --primary-black: rgb(0, 0, 0);
    --secondary-black: rgba(255, 255, 255, 0.12);
    --button-bg: rgb(230, 80, 55);
    --btn-hover-bg: rgb(230, 50, 20);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: "Inter";
    background-color: black;
}


/* Shares And Component Style */
.orange-button {
    border: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 3rem;
    background-color: var(--button-bg);
    border-radius: 3rem;
    color: var(--primary-white);
    cursor: pointer;
    transition: 0.3s;
}

.orange-button:hover {
    background-color: var(--btn-hover-bg);
}

/* .hide {
    display: none !important;
} */



/* Header Section Start Here */
.header-section {
    background: repeating-linear-gradient(var(--primary-black), var(--secondary-black), var(--secondary-black), var(--secondary-black), var(--primary-black));
    width: 100%;
}


/* Nav Section Start Here */
.nav-section {
    height: 8rem;
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-section a {
    text-decoration: none;
}

.logo-section {
    cursor: pointer;
}

.logo-section .logo {
    color: var(--button-bg);
    font-size: 38px;
    font-weight: 800;
    transition: 0.2s;
}

.menu-section-lg {
    border: 1px solid #ffffff1a;
    border-radius: 2.5rem;
    width: 60%;
    max-width: 33.4rem;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 0rem;
    border-radius: 0.3rem;
}

.menu-item a {
    border: transparent;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
}

.menu-item a:hover {
    background-color: var(--button-bg);
}

.menu-section-md {
    display: none;
}

/* Nav Section End Here */


/* Hero Section Start Here */
.hero-section {
    width: calc(100% - 6rem);
    max-width: 90rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.5rem;
}

.hero-content {
    width: 100%;
    max-width: 39rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-title {
    font-size: 4.875rem;
    margin: 1rem auto;
    font-weight: 900;
    line-height: 120%;
}

.hero-text {
    font-size: 1rem;
    color: var(--secondary-white);
    margin: 1rem auto;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.miama {
    font-family: 'Miama';
    font-size: 8rem;
    font-weight: 400;
}

.hero-button {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.download-app {
    background-color: transparent;
    border: 1.5px solid var(--primary-white);
}

.download-app:hover {
    background-color: transparent;
    color: var(--button-bg);
}

.hero-image {
    position: relative;
    filter: contrast(120%);
}

/* Hero Section End Here */


/* Small Popup Card on Hero Section. */
.free-workout {
    background-color: var(--secondary-black);
    color: var(--primary-white);
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.1rem;
    position: absolute;
    top: 130px;
    right: -30px;
}

.free-workout h2,
.tutorial-text h2 {
    font-size: 1.8rem;
}

.free-workout p,
.tutorial-text p {
    font-size: .9rem;
    color: var(--secondary-white);
}

.video-tutorial {
    background-color: var(--secondary-black);
    color: var(--primary-white);
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    display: flex;
    align-items: start;
    gap: 0.8rem;
    position: absolute;
    bottom: 50px;
    left: -80px;
}

.circle {
    height: 2.7rem;
    width: 2.7rem;
    background-color: var(--button-bg);
    border-radius: 50%;
}

.tutorial-text {
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.1rem;
}

/* Header Section End Here */


/* Change Your Habits Section Start Hear */
.habits-section {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.habit-section-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.habit-title {
    font-size: 3rem;
    text-align: center;
}

.habit-text {
    max-width: 35rem;
    font-size: 1rem;
    color: var(--secondary-white);
    text-align: center;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.habit-section-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 4rem;
}

.habit-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.habit-image {
    width: 12rem;
    height: 12rem;
}

.habit-image>img {
    width: 100%;
    max-height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.habit-image>img:hover {
    border: 3px solid var(--primary-white);
}

.habit-details {
    text-align: center;
}

.habit-details p {
    font-size: 1rem;
    color: var(--secondary-white);
    text-align: center;
    line-height: 1.2rem;
    letter-spacing: 0.5px;
}

/* Change Your Habits Section End Hear */


/* Run Section Start Hear */
.run-section {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 6rem auto;
    background-color: var(--secondary-black);
    border-radius: 3rem;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.run-content {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.run-title {
    font-size: 3rem;
}

.run-details {
    max-width: 80%;
    font-size: 1rem;
    color: var(--secondary-white);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.join-now {
    font-size: 1.2rem;
    padding: 1.2rem 5rem;
}

.run-image {
    width: 40%;
    min-height: 26rem;
    background-image: url(./images/run.jpg);
    background-size: 250%;
    background-position: -460px -100px;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

/* Run Section End Hear */



/* Diamond Section Start Hear */
.diamond-section {
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.diamond-header {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 0 auto;
    text-align: center;
}

.diamond-title {
    font-size: 4rem;
}

.diamond-body-bg {
    background-color: var(--secondary-black);
    width: 100%;
    padding: 3rem 0rem;
    margin-top: 2rem;
}

.diamond-body-content {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.diamond-card {
    background-color: var(--secondary-black);
    border-radius: 1rem;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
}

.image-box {
    border-radius: 50%;
    align-self: flex-start;
    border: 1px solid white;
    min-height: 6rem;
    min-width: 6rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.diamond-1 {
    background-image: url(./diamonds/hiteshchoudhary.jpg);
}

.diamond-2 {
    background-image: url(./diamonds/jhankar-mahbub.jpg);
}

.diamond-3 {
    background-image: url(./diamonds/coach-kanchon.jpg);
}

.diamond-4 {
    background-image: url(./diamonds/gias-uddin.jpg);
}

.diamond-5 {
    background-image: url(./diamonds/harry-bhai.jpg);
}

.diamond-6 {
    background-image: url(./diamonds/theresa-wabb.png);
}

.diamond-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.diamond-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.diamond-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.information {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    font-size: 15px;
    color: var(--secondary-white);
}

.diamond-name {
    font-size: 15px;
    color: var(--secondary-white);
    cursor: pointer;
}

.diamond-name:hover {
    text-decoration: underline;
}

.diamond-date span {
    color: var(--primary-white);
}

.diamond-feedback {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 10rem;
}

.thumbs {
    background-color: #00000080;
    width: 3.2rem;
    padding: 3px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.thumbs:hover {
    border: 1px solid var(--primary-white);
}

/* Diamond Section End Hear */



/* Exercise Section Start Here */
.exercise-section {
    width: calc(100% - 1rem);
    max-width: 90rem;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.exercise-header {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
}

.exercise-title {
    margin: 1rem 0;
    font-size: 3rem;
}

.exercise-text {
    max-width: 85%;
    font-size: 1rem;
    color: var(--secondary-white);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.exercise-photo-feme {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.exercise-photo {
    background-blend-mode: overlay;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s;
}

.exercise-photo p {
    font-size: 1.2rem;
    color: #ffffffbf;
    max-width: 70%;
}

.exercise-1 p {
    color: #000000e6;
}

.exercise-1 {
    background-image: url(./images/exercise1.jpg);
    grid-column: 1/4;
    background-color: rgba(0, 255, 210, 0.4);
}

.exercise-2 {
    background-image: url(./images/exercise2.png);
    grid-column: 4/12;
    background-color: rgba(160, 50, 50, 0.7);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.exercise-3 {
    background-image: url(./images/exercise3.png);
    grid-column: 12/16;
    background-color: rgba(0, 0, 0, 0.5);
}

.exercise-4 {
    background-image: url(./images/exercise4.png);
    grid-column: 1/8;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.exercise-5 {
    background-image: url(./images/exercise5.jpg);
    grid-column: 8/11;
    background-color: rgba(50, 255, 0, 0.3);
}

.exercise-6 {
    background-image: url(./images/exercise6.jpg);
    grid-column: 11/16;
    background-color: rgba(50, 100, 200, 0.55);
}

.exercise-photo:hover {
    transform: scale(1.03);
}

/* Exercise Section End Here */



/* BMI Section Start Hear */
.bmi-section {
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.bmi-header {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 5% 0 15%;
}

.bmi-title {
    font-size: 3rem;
}

.bmi-text {
    max-width: 80%;
    font-size: 1rem;
    color: var(--secondary-white);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.bmi-body-bg {
    background-color: var(--secondary-black);
    width: 100%;
    padding: 3rem 0rem;
    margin-top: 2rem;
}

.bmi-body-content {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.bmi-chart {
    min-width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.chart-header {
    font-size: 1.8rem;
    font-weight: 600;
}

.bmi-table,
th,
td {
    border: 1px solid var(--secondary-black);
    border-collapse: collapse;
}

.bmi-table th,
td {
    padding: 0.8rem 1.5rem;
    text-align: left;
    font-size: 1.2rem;
}

.bmi-table td {
    color: var(--secondary-white);
}

.bmi-calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.7rem;
}

.calculator-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.calculator-text {
    font-size: 1rem;
    color: var(--secondary-white);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.bmi-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.form-common {
    border: transparent;
    max-width: 100%;
    border-radius: 5px;
    padding: 12px 0 12px 12px;
    font-size: 1rem;
    color: var(--secondary-white);
    background-color: var(--secondary-black);
}

select[name="Sex"]>option {
    background-color: var(--primary-black);
    color: var(--secondary-white);
    font-size: 1.3rem;
}

select[name="Activity"] {
    grid-column: 1/3;
}

.calculate {
    display: inline;
    max-width: 16rem;
}

.calculate-button {
    padding-left: 5rem;
    padding-right: 5rem;
    width: 100%;
}

/* BMI Section End Hear */


/* Trainer Section Start Here */
.trainer-section {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 6rem auto;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.trainer-header {
    max-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.trainer-title {
    margin: 1rem auto;
    font-size: 3rem;
}

.trainer-text {
    max-width: 85%;
    font-size: 1rem;
    color: var(--secondary-white);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.trainer-photo-frame {
    background-color: var(--secondary-black);
    width: 100%;
    padding: 1.6rem;
    border-radius: 1.2rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.trainer-photo {
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.trainer-photo:hover {
    border: 2px solid var(--primary-white);
}

.trainer-photo h2 {
    font-size: 1.6rem;
}

.trainer-photo p {
    font-size: 1rem;
    color: var(--secondary-white);
}

.trainer-1 {
    background-image: url(./images/trainer1.png);
}

.trainer-2 {
    background-image: url(./images/trainer2.png);
}

.trainer-3 {
    background-image: url(./images/trainer3.png);
}

.trainer-4 {
    background-image: url(./images/trainer4.png);
}

.trainer-5 {
    background-image: url(./images/trainer5.png);
}

.trainer-6 {
    background-image: url(./images/trainer6.png);
}

/* Trainer Section End Here */


/* Footer Section Start Here */
.main-footer {
    width: 100%;
    background-color: var(--secondary-black);
    padding-top: 4rem;
    margin-top: 6rem;
}

.footer-section {
    width: calc(100% - 4rem);
    max-width: 90rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
}

.common-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

.fitness-title {
    color: var(--button-bg);
    font-size: 40px;
    font-weight: 800;
}

.fitness-text {
    max-width: 90%;
    color: var(--secondary-white);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.3rem;
    letter-spacing: 0.4px;
}

section .common-service {
    align-items: flex-end;
}

.common-service li {
    list-style: none;
}

.common-service li a {
    text-decoration: none;
    color: var(--secondary-white);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2.6rem;
    letter-spacing: 0.4px;
    cursor: pointer;
}

.common-service li:hover a {
    text-decoration: underline;
}

.service-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.footer-bottom {
    border-top: 1px solid var(--secondary-black);
    grid-column: 1/4;
    text-align: center;
}

.bottom-text {
    text-align: center;
    margin: 2rem auto;
    color: var(--secondary-white);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

/* Footer Section End Here */



/* Media Queries For Medium Device */
@media screen and (990px > width > 575px) {

    /* Navbar Responsive */
    .menu-section-lg {
        display: none;
    }

    .menu-section-md {
        width: 10%;
        display: flex;
        justify-content: center;
    }

    .barss {
        width: 3rem;
        height: 2rem;
        cursor: pointer;
    }

    /* Hero Section Responsive */
    .hero-section {
        flex-direction: column;
        gap: 3.5rem;
    }

    .free-workout {
        top: 50px;
        right: -25px;
    }

    .video-tutorial {
        bottom: 145px;
        left: -30px;
    }

    /* Habit Section Responsive */
    .habit-section-content {
        row-gap: 4rem;
        column-gap: 2rem;
        flex-wrap: wrap;
    }

    .habit-content {
        width: 13.5rem;
    }

    .habit-details p {
        margin-top: 0.8rem;
    }

    /* Run Section Responsive */
    .run-section {
        width: calc(100% - 2rem);
        margin: 6rem auto;
        border-radius: 2rem;
        padding: 2rem;
    }

    .run-content {
        gap: 1.4rem;
    }

    .run-title {
        font-size: 2.2rem;
    }

    .run-details {
        line-height: 1.4rem;
    }

    .join-now {
        font-size: 1rem;
        padding: 1rem 2.2rem;
    }

    .run-image {
        min-height: 26rem;
        background-size: cover;
        background-position: -250px 0px;
    }

    /* Diamond Section Responsive */
    .diamond-body-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    /* Exercises Section Responsive */
    .exercise-header {
        max-width: calc(100% - 10px);
    }

    .exercise-title {
        font-size: 2.5rem;
    }

    .exercise-text {
        max-width: 100%;
        font-size: 13px;
    }

    .exercise-photo {
        height: 12rem;
        padding: 15px;
    }

    .exercise-photo p {
        font-size: 12px;
    }

    .exercise-1 {
        grid-column: 1/5;
    }

    .exercise-2 {
        grid-column: 5/11;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .exercise-3 {
        grid-column: 11/16;
    }

    .exercise-4 {
        grid-column: 1/8;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .exercise-5 {
        grid-column: 8/12;
    }

    .exercise-6 {
        grid-column: 12/16;
    }


    /* BMI Section Responsive */
    .bmi-header {
        padding: 0;
    }

    .bmi-body-content {
        flex-direction: column;
        align-items: stretch;
    }

    /* Trainer Section Responsive */
    .trainer-section {
        width: calc(100% - 2rem);
    }

    .trainer-header {
        max-width: 100%;
    }

    .trainer-text {
        max-width: 90%;
    }

    .trainer-photo-frame {
        padding: 1.2rem;
        gap: 1rem;
    }

    .trainer-photo {
        height: 18rem;
    }

    .footer-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 3fr 1fr;
    }

    .fitness-text {
        max-width: 70%;
    }

    section .common-service {
        align-items: flex-start;
    }

    .footer-bottom {
        grid-column: 1/3;
    }

    .footer-fitness {
        grid-column: 1/3;
        justify-content: center;
    }
}


/* Media Queries For Small Device */
@media screen and (max-width: 575px) {

    /* Navbar Responsive */
    .menu-section-lg {
        display: none;
    }

    .menu-section-md {
        width: 10%;
        display: flex;
        justify-content: center;
    }

    .barss {
        width: 3rem;
        height: 2rem;
    }

    /* Hero Section Responsive */
    .hero-section {
        flex-direction: column;
        gap: 2.5rem;
    }

    .hero-content {
        max-width: 25rem;
    }

    .hero-title {
        font-size: 3.8rem;
    }

    .miama {
        font-size: 6rem;
    }

    .orange-button {
        font-size: 16px;
        padding: 15px 25px;
    }

    /* Habit Section Responsive */
    .free-workout {
        top: 50px;
        right: -25px;
    }

    .video-tutorial {
        bottom: 145px;
        left: -30px;
    }

    .habit-title {
        font-size: 2rem;
    }

    .habit-text {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }

    .habit-section-content {
        flex-direction: column;
    }

    .habit-content {
        width: 18rem;
        max-width: 100%;
    }

    .habit-details p {
        margin-top: 0.6rem;
        line-height: 1.3rem;
    }

    /* Run Section Responsive */
    .run-section {
        width: calc(100% - 1rem);
        margin: 2rem auto;
        border-radius: 2rem;
        padding: 1.2rem;
        flex-direction: column;
        gap: 2rem;
    }

    .run-content {
        max-width: 100%;
        gap: 1.6rem;
    }

    .run-title {
        font-size: 2rem;
    }

    .run-details {
        max-width: 100%;
    }

    .run-button {
        width: 100%;
    }

    .join-now {
        font-size: 1rem;
        width: 100%;
    }

    .run-image {
        width: 100%;
        min-height: 0rem;
        height: 16rem;
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
    }

    /* Diamond Section Responsive */
    .diamond-header {
        width: calc(100% - 2rem);
    }

    .diamond-title {
        font-size: 2.5rem;
    }

    .diamond-body-content {
        width: calc(100% - 2rem);
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    /* Exercises Section Responsive */
    .exercise-header {
        max-width: calc(100% - 10px);
    }

    .exercise-title {
        font-size: 2.5rem;
    }

    .exercise-text {
        max-width: 100%;
        font-size: 13px;
    }

    .exercise-photo {
        height: 12rem;
        padding: 15px;
    }

    .exercise-photo p {
        font-size: 12px;
    }

    .exercise-1 {
        grid-column: 1/9;
    }

    .exercise-2 {
        grid-column: 9/16;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .exercise-3 {
        display: none;
    }

    .exercise-4 {
        grid-column: 1/8;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .exercise-5 {
        grid-column: 8/16;
    }

    .exercise-6 {
        display: none;
    }


    /* BMI Section Responsive */
    .bmi-header {
        width: 100%;
        padding: 0 5px;
    }

    .bmi-body-content {
        flex-direction: column;
    }

    .form-common {
        width: 100%;
    }

    select[name="Activity"] {
        max-width: 100%;
    }

    /* Trainer Section Responsive */
    .trainer-header {
        max-width: 100%;
    }

    .trainer-title {
        margin: 1rem auto;
        font-size: 2rem;
    }

    .trainer-text {
        max-width: 90%;
    }

    .trainer-photo-frame {
        padding: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    /* Footer Section Responsive */
    .footer-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr) auto;
        gap: 2rem;
    }

    section .common-service {
        align-items: flex-start;
    }

    .footer-fitness {
        grid-column: 1/2;
        justify-content: center;
    }

    .footer-bottom {
        grid-column: 1/2;
    }
}


/* Responsive For Very Old & Small Device */
@media screen and (max-width: 415px) {

    /* Width: Upto 360px  */
    .hero-button {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .dumbbell-workout {
        width: 285px;
    }

    .free-workout {
        top: 120px;
        right: -30px;
    }

    .video-tutorial {
        bottom: 50px;
    }
}